{
  "jsc": {
    "target": "es2022",
    "minify": {
      "compress": true,
      "mangle": true
    },
    "parser": {
      "syntax": "ecmascript"
    },
    "transform": {
      "optimizer": {
        "globals": {
          "vars": {
            "process.env.NODE_ENV": "production"
          }
        }
      }
    }
  },
  "sourceMaps": true,
  "module": {
    "type": "es6"
  }
}
